*.doccom {
    color:navy;
}
*.vhdlcom {
    color:navy;
}
*.identifier {
    color:blue;
}
*.declid {
    color:blue;
}
*.typeid {
    color:blue;
}
*.vhdlstr {
    color:green;
}
*.vhdlio {
    color:maroon;
}
*.vhdlvar {
    color:maroon;
}
*.vhdldecl {
    color:maroon;
}
*.vhdlword {
    color:maroon;
}
*.vhdlieee {
    color:olive !important;
}
*.vhdlcode {
    font-family:monospace;
}
*.nocode {
    color:yellow;
}
*.shaded {
    background-color:#f8f8f8;
}
