*.doccom {
    color:navy;
}
*.vhdlcom {
    color:black;
}
*.identifier {
    color:blue;
}
*.declid {
    color:fuchsia;
}
*.vhdlstr {
    color:lime;
}
*.vhdlio {
    color:green;
}
*.vhdlvar {
    color:lime;
}
*.vhdldecl {
    color:red;
}
*.vhdlword {
    color:purple;
}
*.vhdlieee {
    color:olive;
}
*.vhdlcode {
    font-family:monospace;
}
*.nocode {
    color:yellow;
}
*.shaded {
    background-color:#f8f8f8;
}
